<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Cliente</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Cadastrar Cliente</h1>
	<form method="post" action="/adicionarCliente">
		<label>Nome: <input type="text" name="nome"></label>
		<br>
		<label>CPF: <input type="number" name="cpf"></label>
		<br>
		<input type="submit" value="Cadastrar">
	</form>
</body>
</html>