<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Produto</title>
</head>
<body>
	<h1>Cadastrar Produto</h1>

	<form method="post" action="/adicionarProduto">
		<label>
			Produto: <input type="text" name="produto">
		</label>
		<br>
		<label>
			Preço: <input type="number" name="preco" step="0.01">
		</label>
		<br>
		<input type="submit" value="Cadastrar">
	</form>
	
</body>
</html>