<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<a href="/produtos">Produtos</a>
	<a href="/clientes">Clientes</a>
	<a href="/garcons">Garçons</a>
	<a href="/comandas">Comandas</a>
</body>
</html>