<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Equipe</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Adicionar Equipe</h1>

	<form method="post" action="/adicionarEquipe">
		<label>Nome da Equipe: <input type="text" name="nome"></label>

		<input type="submit" value="Criar Equipe">
	</form>
</body>
</html>