<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<style type="text/css">
		h1{
			font-size: 100px;
		}
	</style>
</head>
<body>
	<h1>Heróis e Vilões</h1>
	<br>
	<a href="/adicionarEquipe">Adicionar Equipe</a>
	<br>
	<a href="/adicionarPersonagem">Adicionar Personagem</a>
	<br>
	<a href="/adicionarHabilidade">Adicionar Habilidade</a>
	<br>
	<a href="/listarHabilidades">Listar Habilidades</a>
	<br>
	<a href="/listarEquipes">Listar Equipes</a>
	<br>
	<a href="/listarPersonagens">Listar Personagens</a>
	<br>
	<a href="/incorporarHabilidade">Incorporar Habilidade</a>
</body>
</html>